  [ghq]
  root = ~/Develop
  
  [color "branch"]
  current = yellow reverse
  local = blue
  remote = green
  [core]
  editor = vim -c \"set fenc=utf-8\"
  [user]
  email = takao.hayashi@zozo.com
  name = takao-h
